* {
	margin: 0;
}

header,a,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

ol, ul, li {
	list-style: none;
}
.container {
	max-width: 1040px
	margin:0 auto;
}

.menu li {
	float: left;
	line-height: 60px;
	padding: 0 10px;
}

.menu a {
	color: #FFFFFF;
	text-decoration: none;
}

.top {
	height: 60px;
	background: #66CCFF;
}

.menu  {
	float: left;
	margin-left: 200px;
} 
	
.col-three-fourth{
	width: 65%;
	float: left;
	
	
}
.col-one-fourth{
	width: 35%;
	float: right;
	background: #EFEFEF;
}




.center {
	padding: 50px;
}

label {
	width: 100px;
	display: inline-block;

}

.content {
  min-height: 100%;
  padding: 0 10px;
  margin-bottom: -142px; 
}
.conten-center{
  margin-left: 200px;	
  margin-right: 120px;
  margin-top: 40px;
}

.content:after {
  content: "";
  display: block;
}

.footer, .content:after {
  height: 142px; 
}
.footer {
  background: #66CCFF;
  margin: 0 10px;
}

#send {
	margin-left: 50px;
}

.footer li {
	margin-top: 45px;
}

.one-shot{
	margin-bottom: 20px;
}

.new-article {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mine-img img {
	margin: 40px;
	margin-left: 20px;
	border-radius: 20%;
	}
.call  {
	margin: 40px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errorfont {
	color: white;
	background-color: #FF0033;
	border: 2px solid red;
    border-radius: 5px;
    
}

.delete_button {
  display: inline-block;
  padding: 7px 12px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px #999;
}

.delete_button:hover {background-color: #3e8e41}

.delete_button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}